# 环境变量文件
.env
.env.local
.env.development
.env.production

# Python相关
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 临时文件
output/
temp/
*.mp3
*.wav

# 日志文件
*.log

# 操作系统生成的文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# 屏蔽特定路径的文件或文件夹
src/config/secret.json     # 屏蔽特定路径下的文件
assets/images/raw/         # 屏蔽特定路径下的文件夹

# 屏蔽特定文件夹
data/books/                    # 屏蔽名为 books 的文件夹及其所有内容
ref/                        # 屏蔽名为 ref 的文件夹及其所有内容
data/summary/